@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200;300;400;500;600&display=swap');

html {
	scroll-behavior: smooth;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Archivo', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.container {
	padding: 0 92px;
}

.h-1 {
	font-size: 32px;
	font-weight: bold;
}

.h-2 {
	font-size: 30px;
}

.h-3 {
	font-size: 22px;
}

.p-1 {
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
	color: #656565;
}

.hr-1 {
	border: 1px solid #e4e4e4;
}

.hr-4 {
	border: 2px solid #e4e4e4;
}

.d-flex {
	display: flex;
}

.justify-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.align-between {
	align-items: space-between;
}

.align-center {
	align-items: center;
}

@media (max-width: 414px) {
	.container {
		padding: 0 18px;
	}
}
